.chooseCity{
    display: flex;
    align-items: center;
    max-width: 98vw;
    height: 19vh;
    padding: 10px;
    background-color: cornflowerblue;
}


.addCity{
    border: 0;
    border-right: 2px solid black;
    font-size: 500%;
    height: 1em;
    width: 2em;
    background-color: transparent;
    transition-duration: 0.2s;
    outline: none;
}

.addCity div{
    transition-duration: 0.2s;
}
.addCity:hover div{
    color: rgb(205, 207, 63);
    transform: rotate(180deg);
}
